/* Bootstrap custom */
.form-label {
    margin-bottom: .2rem;
}

.form-control {
    border-radius: 2px;
    padding: 12px;
    font-size: 16px;
}

.btn {
    border-radius: 2px;
    padding: 12px;
    font-size: 16px;
}

.card {
    border-radius: 2px;
}

.card-title {
    font-size: 1.6rem;
}

.card-footer {
    padding: .3rem;
}

/* Tap Color Styles */
body {
    background-image: linear-gradient(to right bottom, #3005ff, #007cff, #00abff, #00cfe0, #12ebb2);
}

* {
    text-decoration: none !important; /* Hide underline in hiperlinks */
}

input[type="email"] {
    text-transform: lowercase !important; /* All email input's are lowercase text */
}

.h-inherit {
    height: inherit;
}

.cursor-pointer {
    cursor: pointer !important;
}

.divider {
    height: 1px;
    margin: 8px 0;
    background-color: #ccc;
  }

.title {
    font-size: 1.6rem;
    font-weight: bold;
}

.form-error {
    color: #e57373;
    font-size: 12px;
    font-weight: bold;
}

.cardWidth {
    width: 25rem;
}

.list {
    height: 20rem;
    overflow-y: auto;
}

.list .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background-linear {
    transition: background-image 0.5s linear;
}

@media (max-width: 480px) {
    .cardWidth {
        width: 23rem;
    }
}

@media (max-width: 375px) {
   .cardWidth { 
        width: 21.5rem;
   }
}

@media (max-width: 350px) {
    .cardWidth { 
         width: 20rem;
    }
}

@media (max-width: 320px) {
    .cardWidth { 
         width: 19rem;
    }
}
 
